@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');

:root {
    --swiper-pagination-color: gold;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "42dot Sans", serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 190px;
    background: #fef100;
}

header .inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

header h1 {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

header i {
    font-size: 26px;
    color: #dc2c34;
}

header a.all_menu {
    position: absolute;
    left: 0;
    top: 16px;
}

header a.all_menu i {
    font-size: 30px;
}

header a.lang {
    position: absolute;
    right: 40px;
    top: 16px;
}

header a.cart {
    position: absolute;
    right: 0;
    top: 16px;
}

header nav {
    width: 100%;
    height: 78px;
    font-size: 18px;
    color: #082841;
    text-align: center;
}

header nav ul.gnb {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav ul.gnb li {
    flex: 1;
    border-right: 1px solid #082841;
    position: relative;
}

header nav ul.gnb li::after {
    content: '';
    background: #dc2c34;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    left: 0px;
    bottom: -30px;
    transition: .6s;
    transform: scale(0);
}

header nav ul.gnb li:hover:after {
    transform: scale(1);
}

header nav ul.gnb li:last-child {
    border-right: 0;
}

.main_visual {
    width: 100%;
    height: 530px;
    background: #ccc;
    position: relative;
}

.main_visual ul.slide li {
    width: 100%;
    height: 530px;
    position: absolute;
    left: 0;
    top: 0;
}

.main_visual ul.slide li a {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    background-position: center center;
    background-size: cover;
}

.main_visual ul.slide li:nth-child(1) a {
    background-image: url(../images/img_visual13.jpg);
}

.main_visual ul.slide li:nth-child(2) a {
    background-image: url(../images/img_visual14.jpg);
}

.main_visual ul.slide li:nth-child(3) a {
    background-image: url(../images/img_visual15.jpg);
}

.main_visual ul.slide li:nth-child(4) a {
    background-image: url(../images/img_visual16.jpg);
}

.main_visual ul.slide li:nth-child(5) a {
    background-image: url(../images/img_visual18.jpg);
}

.main_visual .ltrt_btn {
    color: #fff;
    font-size: 120px;
}

.main_visual .ltrt_btn .left_btn {
    position: absolute;
    left: 100px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.main_visual .ltrt_btn .right_btn {
    position: absolute;
    right: 100px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.main_visual ul.pager {
    position: absolute;
    left: 150px;
    bottom: 30px;
    display: flex;
    gap: 10px;
}

.main_visual ul.pager li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.main_visual ul.pager li.active {
    background: gold;
}

.main_visual .pause_play {
    left: 270px;
    bottom: 28px;
}

.pause_play {
    position: absolute;
    font-size: 13px;
    color: #fff;
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 1;
}

.pause_play div {
    cursor: pointer;
}

.pause_play .pause {
    font-size: 16px;
}

.contents1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.contents1 ul.sub_banner {
    width: 100%;
    height: 288px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.contents1 ul.sub_banner li {
    width: 288px;
    height: 100%;
}

.contents1 ul.sub_banner li:nth-child(1) {
    background-image: url(../images/bgM5.jpg);
}

.contents1 ul.sub_banner li:nth-child(2) {
    background-image: url(../images/bgM1.jpg);
}

.contents1 ul.sub_banner li:nth-child(3) {
    background-image: url(../images/bgM3.jpg);
}

.contents1 ul.sub_banner li:nth-child(4) {
    background-image: url(../images/bgM4.jpg);
}

.contents1 ul.sub_banner li a {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents1 ul.sub_banner li a strong {
    font-size: 28px;
    font-weight: bold;
}

.contents1 ul.sub_banner li a p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
}

.contents1 ul.sub_banner li a::after {
    content: 'more >';
    font-size: 12px;
}

.contents1 .ottogi_news {
    display: flex;
    justify-content: space-between;
}

.contents1 .ottogi_news .tit_txt {
    width: 288px;
}

.contents1 .ottogi_news .tit_txt h3 {
    font-size: 30px;
}

.contents1 .ottogi_news .tit_txt i {
    font-size: 14px;
    color: #dc2c34;
    display: flex;
    padding-left: 90px;
    padding-top: 10px;
}

.contents1 .ottogi_news ul {
    display: flex;
    gap: 16px;
}

.contents1 .ottogi_news ul li {
    width: 288px;
    height: 205px;
}

.contents1 .ottogi_news ul li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contents1 .ottogi_news ul li a em {
    display: block;
    height: 70px;
    font-size: 18px;
    color: #333;
    line-height: 1.2;
}

.contents1 .ottogi_news ul li a p {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

.contents1 .ottogi_news ul li a span {
    font-size: 14px;
    color: #333;
    margin-top: auto;
}

.contents2 {
    width: 100%;
    display: flex;
    padding-bottom: 70px;
}

.contents2 section {
    width: 50%;
    height: 100%;
}

.contents2 section h3 {
    font-size: 30px;
    line-height: 1.6;
}

.contents2 section>div {
    height: 300px;
}

.contents2 .event .event_slide {
    background: #ccc;
    position: relative;
    overflow: hidden;
}

.contents2 .event .event_slide ul {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

/* .contents2 .event .event_slide ul li {} */

.contents2 .product_info .product_new {
    display: flex;
}

.contents2 .product_info .product_new .product_new_slide {
    width: 50%;
    height: 100%;
    background: #ddd;
}

ul.pn_slide {
    width: 100%;
    height: 100%;
}

ul.pn_slide li {
    width: 100%;
    height: 100%;
}

ul.pn_slide li a {
    width: 100%;
    height: 100%;
    display: block;
}

ul.pn_slide li a img {
    width: 100%;
    height: 100%;
}

.pn_pager_btnall {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 100;
}

.pn_pager_btnall .pause_play {
    left: 50%;
    transform: translateX(-50%);
    top: 7px;
}

.contents2 .product_info .product_new .product2 {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
}

.contents2 .product_info .product_new .product2 a {
    display: block;
    text-align: center;
}

.contents2 .product_info .product_new .product2 a strong {
    display: block;
}

/* section */
section {
    position: relative;
}

section h2 {
    text-align: center;
    font-size: 36px;
    height: 56px;
    box-sizing: content-box;
    padding: 50px 0 20px;
    color: #333;
    position: relative;
}

section h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

section p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* fa_product */
.fa_product {
    width: 100%;
    height: 600px;
    background: url(../images/visual_06.jpg) no-repeat center 0;
    text-align: center;
    position: relative;
}

.fa_product h2 {
    color: #fff;
}

.fa_product h2::after {
    background: #fff;
}

.fa_product p {
    color: #fff;
}

.fa_product .fa_slide_wrap {
    width: 1200px;
    height: 350px;
    padding-top: 40px;
    overflow: hidden;
}

.fa_product .fa_slide_wrap ul.fa_slide {
    display: flex;
    /* gap: 10px; */
}

.fa_product .fa_slide_wrap ul.fa_slide li {
    width: 230px;
    height: 310px;
    position: relative;
    flex-shrink: 0;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_img {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 198px;
    display: block;
    background: url(../images/up_list_bul.png) no-repeat center bottom;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_img img {
    width: auto;
    height: 198px;
    border-bottom: 1px solid #eee;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_img strong {
    display: block;
    font-size: 18px;
    padding: 18px;
    margin-bottom: 8px;
    color: #666;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_img span {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #666;
    padding-left: 18px;
    padding-bottom: 18px;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 310px;
    transition: .6s;
}

.fa_product .fa_slide_wrap ul.fa_slide li:hover .card_back {
    top: 0;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_back a {
    background: rgba(220, 44, 52, .7) url(../images/btn_view.png) no-repeat center 100px;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.fa_product .fa_slide_wrap ul.fa_slide li .card_back a::after {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fa_product .fa_lt_rt button {
    background: transparent;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 300px;
}

.fa_product .fa_lt_rt button.fa_lt {
    left: 50%;
    margin-left: -700px;
}

.fa_product .fa_lt_rt button.fa_rt {
    right: 50%;
    margin-right: -700px;
}


/* cooking_story */
.cooking_story {
    width: 100%;
    background: #fffee5;
    padding-bottom: 50px;
}

.cooking_story .ck_slide_wrap {
    width: 100%;
    height: 310px;
    padding-top: 40px;
    box-sizing: content-box;
    overflow: hidden;
}

.cooking_story .ck_slide_wrap ul.ck_slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cooking_story .ck_slide_wrap ul.ck_slide li {
    width: 230px;
    height: 310px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    flex-shrink: 0;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img::after {
    content: '';
    display: block;
    width: 100%;
    height: 166px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/up_list_bul.png) no-repeat center bottom;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img img {
    width: 100%;
    height: 166px;
    border-bottom: 1px solid #eee;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img strong {
    display: block;
    padding: 18px;
    font-size: 18px;
    margin-bottom: 8px;
    color: #666;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img span {
    position: absolute;
    text-align: left;
    font-size: 14px;
    color: #666;
    left: 18px;
    bottom: 18px;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(310px);
    transition: .6s;
}

.cooking_story .ck_slide_wrap ul.ck_slide li:hover .card_back {
    transform: translateY(0);
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_back a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: rgba(220, 44, 52, .7) url(../images/btn_view.png) no-repeat center 100px;
}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_back a::after {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ottogi_sns */
.ottogi_sns {
    width: 100%;
    padding-bottom: 160px;
}

.ottogi_sns ul.tab_menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    background: #ebeff2;
    display: flex;
}

.ottogi_sns ul.tab_menu li {
    width: 25%;
    height: 100%;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.ottogi_sns ul.tab_menu li.on {
    background: #223a6a;
    color: #fff;
}

.ottogi_sns ul.tab_con {
    width: 100%;
    height: 320px;
    margin-top: 40px;
    position: relative;
}

.ottogi_sns ul.tab_con>li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.ottogi_sns ul.tab_con>li.on {
    display: block;
}

.ottogi_sns ul.tab_con>li>ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ottogi_sns ul.tab_con>li>ul>li {
    width: 288px;
    font-size: 14px;
    line-height: 2;
    font-weight: 200;
    color: #555;
}

footer {
    width: 100%;
}

footer .f_top {
    width: 100%;
    height: 60px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #f7f7f7;
}

footer .f_top .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

footer .f_top ul.f_menu {
    display: flex;
}

footer .f_top ul.f_menu li {
    font-weight: 300;
    margin-right: 30px;
}

footer .f_top ul.sns {
    display: flex;
}

footer .f_top ul.sns li {
    margin-left: 20px;
}

footer .f_bottom {
    width: 100%;
    padding: 20px 0;
}

footer .f_bottom .inner {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

footer .f_bottom .fb_left {
    display: flex;
    align-items: flex-start;
}

/* footer .f_bottom .fb_left .fb_middle {} */

footer .f_bottom .fb_left .fb_middle ul {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 12px;
}

footer .f_bottom .fb_left .fb_middle ul li {
    float: left;
    border-right: 1px solid #333;
    margin-bottom: 12px;
    padding: 0 10px;
}

footer .f_bottom .fb_left .fb_middle ul li:nth-child(2n)+li,
footer .f_bottom .fb_left .fb_middle ul li:last-child {
    border-right: 0;
}

footer .f_bottom .fb_left .fb_middle .cl {
    clear: both;
}

footer .f_bottom .fb_left .fb_middle p {
    font-size: 13px;
    font-weight: 300;
    padding-left: 10px;
}

footer .f_bottom .fb_right {
    margin-top: 20px;
}